.error-message {
    font-size: 12px;
}

#form-error {
    font-size: 14px;
}

.top-alert {
    width: fit-content;
    position: fixed !important;
    top: 30px;
    right: 50px;
    z-index: 1000;
}

#auth-logo {
    height: 130px;
    border: solid 1px #b3b3b3;
    border-radius: 100px;
}
